td {
  border: 1px solid black;
}
table {
  margin: 15px 0;
  border: 1px solid black;
  width: 100%;
}
html {
  background: #ccc;
}
body {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px;
}
.table-fixed {
	table-layout: fixed;
}